.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.form-check-input[type="radio"] {
    width: 1.35em;
    height: 1.35em;
}

.spinner-visible-element {
    visibility: visible;
}

.spinner-graph {
    width: 15em;
    height: 15em;
    --bs-spinner-border-width: 1em;
}

.rc-slider .rc-slider-track {
    background-color: var(--bs-primary);
} 

.rc-slider .rc-slider-handle, 
.rc-slider .rc-slider-step .rc-slider-dot-active {
    border-color: var(--bs-primary);
} 

.inject-container {
    height: 22vh;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.inject-card {
    width: 18em;
    height: 9em;
    font-size: small;
}

.inject-card p {
    margin: 0em;
}

.inject-card .card-header {
    padding: 0.4rem 1rem 0.4rem 1rem;
    text-align: center;
    overflow: auto;
}

.inject-card .card-body {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    overflow: auto;
}

.scrollable-div {
    overflow-x: auto;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

#tooltip_target {
    left: 0px;
    top: 0px;
    width: 85px;
    height: 1px;
    position: absolute;
}

.tooltip-bg {
    background-color: var(--bs-tooltip-bg);
}

.none {
    display: none !important;
}

/* !!! Workaround for Sankey diagram un-removable modebar button!!! */
.modebar-group .modebar-btn[data-title="Reset view"] {
    display: none;
}